html {
  font-size: 8px;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* Added body dimensions */
  height: 500px;
  width: 357px;
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*UTILITIES*/
.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  margin: 0 auto;
}

.vertical-center-contain {
  display: flex;
  justify-content: center;
}

.green {
  color: #bcedc4;
}

.red{
  color: #e46d93;
}

.holder {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

.navbar-cutom {
  background-color: transparent;
}

.title-total-val {
  font-weight: 100;
  font-size: 60px;
  /*color: #bcedc4;*/
  text-decoration: none;
}


h1 {
  font-size: 20px;
  margin: 0;
}

h4, h2, h3 {
  font-weight: 100;
}

ul li .bttn {
  margin-left: 150px;
}

.separator-line {
  border-bottom: 1px solid lightgrey;
  height: 1px;
}

.input-cust {
  background-image: none;
  background-color: none;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: transparent;
}

.bttn {
  font-family: inherit;
  display: inline-block;
  padding: 6px 12px;
  margin: 0 2px 0 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
 al-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  background-color: transparent;
}

.bttn:hover {
  background-color: white;
  color: #2b5876;
  color: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #4e4376, #2b5876);
}

/*DROP DOWN MENU*/
.dropdown {
  margin-left: -10px !important;
}

.dropdown-menu {
  width: 140px !important;
  min-width: 130px !important;
}

.dropdown-menu, .dropdwn-menu, .dropdwn-menu a {
  background-color: #283c63 !important;
  color: white !important;
}

.dropdwn-menu {
  opacity: .8;
}

.dropdwn-menu:hover {
  opacity:1;
}

.dropdwn-window-button {
  border: none;
}

.heading-time-window {
  margin-bottom: 0px;
}

.my-library-div {
  width: 50%;
  height: 100%;
  background-color: #abe7f3;
}



.no-overflow {
  overflow: hidden;
}

.address{
  font-size: 1.5rem;
  color: lightgrey;
}

.tiny-label, .tiny-label-colorless {
  margin-left: 5px;
  font-size: 1.5rem;
}

.tiny-label {
  color: lightgrey;
}

.logo-holder {
  height: 200px;
  margin: 50px 0 10px 0;
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 1px;
}

.y-grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.y-grid path{
  display:none;
}

.y-grid .tick{
    stroke: lightgrey;
    stroke-opacity: 0.7;
    opacity: 1;
}

.axis .tick{
  stroke: lightgrey;
  stroke-opacity: 0.7;
}
.axis path {
  fill: none;
  stroke: #000;
  display: none;
  shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.axis text {
  fill: lightgrey;
  fill-opacity: 1;
  font-size: 10px;
}

.pad {
  padding:20px;
}

.logo-login {
  margin-bottom: 15px;
}

.logo-navbar {
  height: 35px;
  margin: 0 20px 0 10px;
}

.bottom-left-svg{
    padding-top:40px;
    text-align: center;
}


.bottom-right-svg{
    text-align: center;
}

.disclosure-div {
  margin: 0 0 10px 0;
  padding: 8px;
  color: grey;
  text-align: left;
  background-color: #283c63;
  border: 1px solid white;
  border-radius: 4px;
}

.img-holder {
  display: inline-block;
}

.navbar {
  height: 30px !important;
}

.navbar-brand-cust {
  padding: 5px 5px;
  height: 48px;
}

.dropdwn-header {
  padding: 5px 5px;
}

.aligner-item-bottom {
  align-self: flex-end;
}

svg {
  display: block;
  margin: 0 0 40px 0;
}

.hidden-tick > text {
  display: none;
}

.hidden-tick > line {
  stroke: #777;
}

.visible-tick > line {
  fill: transparent;
  shape-rendering: crispEdges;
}
