.modal-container {
 height: 300px;
 width: 92%;
 position: absolute;
}

.modal-dialog {
  position: absolute;
  z-index: 1;
  top: 60px;
}

.modal-content {
  color: white;
  background-color: #283c63;
}


.modal-container .modal-backdrop {
 display: none;
}

.modal-footer {
  border: none;
}

.tooltip {
  display: block;
  position: absolute;
  top: 60px;
  right: 35px;
  min-width: 230px;
  max-width: 400px;
  background-color: #283c63;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.tooltip-content {
  position: absolute;
  word-wrap: break-word;
  min-width: 230px;
  max-width: 400px;
  color: white;
  font-size: 0.9375em;
  line-height: 1.4em;
  padding: 10px;
  z-index: 2;
  text-align: left;
  color: white;
}
